*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(97, 93, 101); */
    padding: 1rem;
}


.header-left {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex: 2;
    gap: 0.5rem;
    min-width: 0; /*To prevent overflow of elements outside the container*/
    /* background-color: rgba(0, 0, 255, 0.505); */
}

.logo-search{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-search img:first-child {  /*For the youtube logo only*/
height: 1.25rem;
}
.logo-search .search-icon {      /*For the search icon only*/
    width: 1.5rem;
    height: 1.5rem;
}
.hamburger-menu {
    cursor: pointer;
}
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /*To expand fill up vacant space and move to left*/
    gap: 1rem;
    min-width: 0; /*To prevent overflow of elements outside the container*/
    /* background-color: rgba(111, 160, 100, 0.607); */
}
.header-right {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex: 3;  /*To expand 3 times faster*/
    gap: 1rem;
    min-width: 0; /*To prevent overflow of elements outside the container*/

    /* background-color: rgba(241, 18, 14, 0.484); */
}
.icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0; /*To prevent icon from shrinking when no space*/
    cursor: pointer;
}
.microphone-icon {
    border-radius:1rem;
    background-color: rgb(38, 38, 38);
    width: 2rem;
    height: 2rem;
}
.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    border-radius: 0.9rem;
    color: white;
    background-color: rgb(38, 38, 38);
    outline: none;
    gap: 0.2rem;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}
.search-icon {  /* Watch out for specificity, style is ALREADY applied some code above*/
    width: 1.5rem;
    height: 1.5rem;
}



/*CATEGORY BAR(RECOMMENDATION) NAVBAR*/
.category-bar {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    overflow-x: auto; /*Overflow content is can be scrolled and scroll bar is shown*/
    scrollbar-width: none; /*To make default scroll bar invisible*/
    margin-right: 1rem;
}

.category-bar > div {  /*To select all div inside the category-bar div*/
    display: flex;
    flex-shrink: 0; 
    align-items: center; /*To make text center vertically in each div*/
    background-color: rgb(38, 38, 38);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.4rem 0.75rem;
    white-space: nowrap; /*To prevent text from getting into next line*/
    cursor: pointer;
}

